img {
    max-width: 300px;
}

.game-over {
    transform: rotate(90deg);
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
}

.goblin-stats {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goblin {
    background-color: rgb(240, 245, 249);
    display: flex;
    gap: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 20px 0;
    padding: 10px;
}

button:focus {
    border: 3px solid purple;
}

.goblinEl-style {
    font-size: 2rem;
    margin: 0;
}
